<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49097296675-011lbjo3skg8daqaejg2b7t12pc0bbfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49097296675-011lbjo3skg8daqaejg2b7t12pc0bbfp</string>
	<key>API_KEY</key>
	<string>AIzaSyBoLOm3PZB5A9PzyyiQL9OdURN1UTLgjgM</string>
	<key>GCM_SENDER_ID</key>
	<string>49097296675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.mirellaalmeida.PolenApp</string>
	<key>PROJECT_ID</key>
	<string>polen-c113f</string>
	<key>STORAGE_BUCKET</key>
	<string>polen-c113f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49097296675:ios:7cd551ed9fdba3f4c21a96</string>
	<key>DATABASE_URL</key>
	<string>https://polen-c113f.firebaseio.com</string>
</dict>
</plist>